# Based on:
  # https://github.com/ansible/project-config/blob/master/playbooks/base-minimal/post-logs.yaml
- hosts: localhost
  gather_facts: false
  vars:
    zuul_output_dir: /var/lib/zuul/builds/zuul-output
  tasks:
    - name: Run ara-report role
      include_role:
        name: ara-report

    - name: Run htmlify-logs role
      include_role:
        name: htmlify-logs

    - name: Run Zuul manifest role
      include_role:
        name: generate-zuul-manifest

    - name: Set zuul-log-path fact
      include_role:
        name: set-zuul-log-path-fact
      vars:
        zuul_log_path_shard_build: true

    - name: Name fetch job output to executor
      include_role:
        name: fetch-output
